iframe.newsfeed-fullarticle {
  width: 100vw;
  /* very large height value to allow scrolling */
  height: 3000px;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}

.region.bottom.bar.newsfeed-fullarticle {
  bottom: inherit;
  top: -90px;
}

.newsfeed-list {
  list-style: none;
}

.newsfeed-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}



.newsfeed-image {
  min-width: 200px;
  min-height: 200px;
  background-position: center 10px;
  background-size: contain;
  background-repeat: no-repeat;
  order: 0;

}

.MMM-anotherNewsFeed .container {
  display: flex;
  gap: 10px;
}

.MMM-anotherNewsFeed .container.withImage * {
  text-align: left;
}
